################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dll
*.pdb
/.vs
/WebApi/DataManagerApi/.vs/DataManagerApi/v16
/WebApi/DataManagerApi/Web.Release.config
/WebApi/DataManagerApi/Web.Debug.config
